<nav class="navbar navbar-light bg-success">
    <div class="container-fluid">
      <h2 style="margin-top: 10px;">Welcome to {{farmer}}</h2>
      <div class="d-flex">
        <a routerLink='viewagriinfo' class="btn btn-link" style="margin-left: 5px;">View Agri Info</a>
        <a routerLink='viewpricedetails' class="btn btn-link" style="margin-left: 5px;">View Price Details</a>
        <a routerLink='postquerytostaff' class="btn btn-link" style="margin-left: 5px;">Post Query to Staff</a>
        <a routerLink='updateprofile' class="btn btn-link"  style="margin-left: 5px;">Update Profile</a>
        <a routerLink='' class="btn btn-link" style="margin-left: 5px;">Signout</a>   
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>