<nav class="navbar navbar-light bg-warning">
    <div class="container-fluid">
      <h2 style="margin-top: 10px;">Welcome to Admin</h2>
      <div class="d-flex">
        <a routerLink='addregion' class="btn btn-link" style="margin-left: 5px;">Add Regions</a>
        <a routerLink='addstaff' class="btn btn-link" style="margin-left: 5px;">Add Staff's</a>
        <a routerLink='setidpassword' class="btn btn-link" style="margin-left: 5px;">Set Id and Password for Staff</a>
        <a routerLink='viewregisteredfarmers' class="btn btn-link"  style="margin-left: 5px;">View Registered Farmers</a>
        <a routerLink='updatepassword' class="btn btn-link"  style="margin-left: 5px;">Update Password</a>
        <a routerLink='' class="btn btn-link" style="margin-left: 5px;">Signout</a>   
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>