<div class="container">
    <div class="row">
      <div class="col-lg-12 card bg-light mt-4 p-4">
      <h4 style="text-align: center;">Change Password</h4>
    
  <label> New Password</label>
  <input type="password" class="form-control mb-3" [(ngModel)]="model.Password">
  <label>Confirm new password</label>
  <input type="password" class="form-control mb-3" [(ngModel)]="model.ConfirmPassword">
  <br>
  <div class="col-md3">
    <input type="submit" class="btn btn-danger "(click)="onSubmit()" value="Submit">
     <a [routerLink]="['/adashboard']"  style="margin-left: 5px;"  class="btn btn-secondary">Cancel</a>
    </div>
    <h6 style="color:green; text-align: center;">{{erorrMessage}}</h6>
</div>
</div>
