<div class="container mt-4 ">
    <br>
    <h4 style="text-align:center; ">Set ID & Password for Staff's</h4>
    <br>
  <div class="row">
  <div class="col-lg-4" *ngFor="let list of stafflist">
  <div class="card">
      <div class="card-body bg-secondary">
        <h5 style="color: white;">{{list.Staff}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Region: {{list.Region}}</li>
        <li class="list-group-item">Address: {{list.Address}}</li>
        <li class="list-group-item">Mobile: {{list.Mobile}}</li>
        <li class="list-group-item">Email: {{list.Email}}</li>
        <li class="list-group-item">StaffID: {{list.StaffID}}</li>
        <li class="list-group-item">Password: {{list.Password}}</li>
        <li class="list-group-item">
      </ul>
      <!-- Button trigger modal -->
      <div *ngIf="list"></div>
<button type="button" class="btn btn-danger" (click)=showforEdit(list) data-bs-toggle="modal" data-bs-target="#exampleModal">
  Set ID & Password
</button>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Set ID & Password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="form-class"> Staff ID</label>
        <input type="text" class="form-control" [(ngModel)]="model.StaffID">
        <div *ngIf="isValidFormStaffID" class="csserror">
            Enter Staff ID
        </div>
        <br>
        <label for="form-class">Password</label>
        <input type="text" class="form-control" [(ngModel)]="model.Password">
        <div *ngIf="isValidFormPassword" class="csserror">
            Enter Paasword
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onSub()">Save changes</button>
      </div>
    </div>
  </div>
</div>
  </div>
  
    