<nav class="navbar navbar-light bg-success">
  <div class="container-fluid">
     <h2 style="margin-top: 10px;">Welcome to {{staff}}</h2>
      <div class="d-flex">
        <a routerLink='agriinfoupdates' class="btn btn-link" style="margin-left: 5px;">Agri Info Updates</a>
        <a routerLink='agriprice' class="btn btn-link" style="margin-left: 5px;">Agri Commodities Price Updates</a>
        <a routerLink='farmersqueries' class="btn btn-link" style="margin-left: 5px;">Farmers Queries</a>
        <a routerLink='updatestaffprofile' class="btn btn-link"  style="margin-left: 5px;">Update Profile</a>
        <a routerLink='' class="btn btn-link" style="margin-left: 5px;">Signout</a>   
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>